.bill-container,
.no-of-people {
    position: relative;
}

.bill-error,
.error {
    position: absolute;
    right: 0;
    top: 0;
    color: red;
    font-size: 12px;
    opacity: 0;
}

.no-of-people-error {
    border: 1px solid red;
}