@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');


body {
    font-family: 'Space Mono', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background: hsl(185, 41%, 84%);
}

header {
    margin-bottom: 50px;
}

header img {
    height: 30px;
}

main {
    display: flex;
    background: white;
    padding: 30px;
    border-radius: 10px;
}

.left-section {
    min-width: 300px;
}

p {
    margin: 0;
}

.left-section .label {
    color: hsl(183, 100%, 15%);
    font-size: 13px;
    margin-bottom: 5px;
    position: relative;
}

.input-container {
    position: relative;
}

.img-placeholder {
    position: absolute;
    top: 12px;
}

img {
    height: 13px;
    left: 10px;
}

input {
    /* font-size: 24px; */
    background: hsl(189, 41%, 97%);
    border-radius: 3px;
    min-width: 87%;
    padding: 10px;
    padding-left: 30px;
    text-align: right;
    font-weight: 700;
    color: hsl(183, 100%, 15%);
    font-family: 'Space Mono', monospace;
    border: 2px solid transparent;
}

input::placeholder {
    color: hsl(186, 14%, 43%);
    font-size: 13px;
}

.complete-border {
    border-color: hsl(172, 67%, 45%);
}

input:focus {
    outline: none;
}

.tip-container,
.no-of-people {
    margin-top: 25px;
}

.tips {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 10px;
}

.tips button {
    padding: 10px 0;
    text-align: center;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    background: hsl(183, 100%, 15%);
    font-weight: 700;
    font-family: 'Space Mono', monospace;
    transition: background 0.3s;
}

.tips button:hover {
    background: hsl(172, 67%, 45%);
}

.custom {
    background-color: red;
    font-weight: 700;
    font-family: 'Space Mono', monospace;
    width: 60px;
    background: transparent;
    color: hsl(183, 100%, 15%);
    padding: 0;
    text-align: right;
    padding-right: 10px;
    border-radius: 3px;
    cursor: pointer;
}

.custom::placeholder {
    color: hsl(180, 12%, 73%);
    text-align: center;
}



.right-section {
    padding: 20px;
    max-height: 300px;
    padding-top: 35px;
    min-width: 250px;
    border-radius: 10px;
    background: hsl(183, 100%, 15%);
    margin-left: 30px;
    color: white;
    position: relative;
}

.container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.container .label {
    font-size: 14px;
}

.per-person {
    color: hsl(184, 14%, 56%);
    font-size: 12px;
}

.amount {
    font-size: 35px;
    font-weight: 700;
    color: hsl(172, 67%, 45%);
}

.reset {
    width: 100%;
    padding: 10px 0;
    margin-top: 30px;
    background-color: hsl(186, 37%, 29%);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
    font-family: 'Space Mono', monospace;
    color: hsl(186, 50%, 24%);
    transition: background 0.3s;
}

.reset:hover {
    background: hsl(172, 67%, 45%);
}